.Main {}

.title{
	margin:2% auto;
	text-align:center;
	font-size: 36px;
	line-height: 52px;
	font-weight: 400;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
}

.count-box{
	position:absolute;
	top:15%;
	right:12%;
}

.counter{
	display:inline-block;
}

.digit-Button.resetButton{
	position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*color: rgba(255, 255, 255, .95);*/
    text-shadow: none;
    outline: none;
    font-size: 16px;
    box-shadow: none;
    border-radius: 3px;
    vertical-align: middle;
    min-width: 5.4em;
    margin: 0;
    padding: 0 20px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "roboto", sans-serif;
    /*border: none;*/
    /*background: #2FBEC1;*/
    transition: background .25s;
}

.player-bar, .computer-bar{
	margin:0 auto;
	text-align:center;
}

.computer-bar{

}

.action-panel{
	height:100px;
	margin:2% auto;
	text-align:center;
}

.playerText{
	color:blue;
}

.computerText{
	color:red;
}

.playerText, .computerText{
	margin:0 auto;
	text-align:center;
	font-size: 36px;
	line-height: 52px;
	font-weight: 400;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
}

.svg-icons{
	display:none;
}